<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.sixsys.mapper.insp.FlowInspTbppspMapper">
	
	<!-- 带参数查询通报批评审批列表 -->
	<select id="selectList" resultType="java.util.Map">
		select
			a.uuid,d.xm as jcxm,a.bh,a.btbpprxm,a.xb,a.csny,
			a.zw,a.zzmm,a.gzdwjzw,a.sj,a.btbppsy,e.name as flowStateName,
			a.sqr,a.sqrbm,a.inserter,a.insert_time,
			a.updater,a.update_time,a.act_title,a.pid,
			a.remark,a.doc_state,a.flow_sn,a.flow_state,
        (SELECT b.name FROM ser_dictionary AS b WHERE b.type ='sex' AND a.`xb`= b.code) AS xbname,
        (SELECT c.name FROM ser_dictionary AS c WHERE c.type ='zzmm' AND a.`zzmm`= c.code) AS zzmmname
		from flow_insp_tbppsp a
        left join base_police d on a.btbpprxm = d.jcbm
        left join t_dictionary e on a.flow_state = e.code and e.type = 'flowState'



        where 1=1
        <if test="flowState != null and flowState!=''">
            AND( a.flow_state=#{flowState}
            <if test="flowState==2">
                or a.flow_state=6 or a.flow_state=7
            </if>
            <if test="flowState==5">
                or a.flow_state=1
            </if>
            <if test="flowState==3">
                or a.flow_state=4
            </if>
            )
        </if>
        <if test="jcxm !=null and jcxm!=''">
            and a.btbpprxm = #{jcxm}
        </if>
        <if test="currentUserId != null and currentUserId != '' and currentUserId != 1">
            and a.inserter = #{currentUserId}
        </if>
        <if test="field == null or field =='' or order ==null or order ==''">
            order by a.insert_time desc
        </if>
        <if test="field !=null and field !='' and order != null and order !=''">
            order by ${field} ${order}  
        </if>
	</select>

</mapper>

