<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.sixsys.mapper.hr.FlowHrGbjllggzMapper">


    <!-- 带参数查询干部交流轮岗工作列表 -->
    <select id="selectList" resultType="java.util.Map">
        select
        uuid,fg.inserter,fg.insert_time,fg.updater,fg.update_time,act_title,fg.pid,fg.remark,doc_state,flow_sn,t5.name flow_state,xgwj,jcbm,sqsy,yjsm,sqr,sqrbm,tips,zzchysj,zzchyjdnr,ldxzhysj,ldxzhyjdnr
        from flow_hr_gbjllggz fg
        LEFT JOIN t_dictionary t5 ON fg.flow_state = t5.code AND t5.type = 'flowState'
         where 1=1
        <if test="flowState != null and flowState!=''">
            AND( fg.flow_state=#{flowState}
            <if test="flowState==2">
                or fg.flow_state=6 or fg.flow_state=7
            </if>
            <if test="flowState==5">
                or fg.flow_state=1
            </if>
            <if test="flowState==3">
                or fg.flow_state=4
            </if>
            )
        </if>
        <if test="keyWord != null and keyWord != ''">
            and (act_title like concat('%',#{keyWord},'%'))
        </if>
        <if test="startTime != null and startTime != '' ">
            and DATE_FORMAT(fg.insert_time,'%Y-%m-%d') >= #{startTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            and DATE_FORMAT(fg.insert_time,'%Y-%m-%d') &lt;= #{endTime}
        </if>
        <if test="field == null or field =='' or order ==null or order ==''">
            order by insert_time desc
        </if>
        <if test="field !=null and field !='' and order != null and order !=''">
            order by ${field} ${order}
        </if>
    </select>

</mapper>

