<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.sys.mapper.BaseZoneUserMapper">

    <!-- 带参数查询分区组织人员列表 -->
    <select id="selectList" resultType="java.util.Map">
        select
        uuid,zone_org_id,jcbm,duty_code,start_time,end_time,is_valid,inserter,insert_time,updater,update_time
        from base_zone_user where 1=1
    </select>
</mapper>

