<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.sys.mapper.OrganizationMapper">


    <!-- 根据ID查询组织机构 -->
    <select id="selectMapById" resultType="java.util.Map">
        select s1.*,s2.name pname,s3.id region_id,s3.name region_name from
        (select
        id,pid,name,code,type,grade,primary_man,vice_man,link_man,address,zipcode,phone,email,region_code,remark,inserter,insert_time,updater,update_time
        from t_organization where id = #{id,jdbcType=INTEGER}
        )s1 left join
        t_organization s2 on s1.pid = s2.id left JOIN
        t_region s3 on s3.code = s1.region_code
    </select>


    <!-- 带参数查询组织机构列表 -->
    <select id="selectList" resultType="java.util.Map">
        select s1.*,s2.name as typeName,s3.name as gradeName from
        (select id,pid,name,code,type,grade,remark,organization_hasChild(id) hasChild from t_organization where
        pid=#{pid})s1 left join
        (select code,name from t_dictionary where type='organization_type')s2 on s1.type = s2.code left join
        (select code,name from t_dictionary where type='organization_grade')s3 on s1.grade = s3.code
    </select>


    <!-- 检查code是否重复 -->
    <select id="checkCode" resultType="java.lang.Integer">
        select count(id) from t_organization where code = #{code}
        <if test="id!=null and id!=''">
            and id != #{id}
        </if>
    </select>

    <!-- 获取组织树 -->
    <select id="selectAllTree" resultType="java.util.Map">
        select id,pid as pId,name,code from t_organization
    </select>

    <!-- 查询子机构 -->
    <select id="selectChildList" resultType="java.util.Map">
        select id,pid,name,code from t_organization where pid=#{id}
    </select>
</mapper>

