<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.sys.mapper.SerDictionaryMapper">

    <!-- 带参数查询字典表列表 -->
    <select id="selectList" resultType="java.util.Map">
        select id,type,pid,code,name,remark,sort_no from ser_dictionary where type=#{type} and pid=#{pid}
        <if test="code!=''">
            and code like concat('%',#{code},'%')
        </if>
        <if test="name!=''">
            and name like concat('%',#{name},'%')
        </if>
        order by sort_no asc
    </select>

    <!-- 检测字典代号 -->
    <select id="checkCode" resultType="java.lang.Integer">
        select count(id) from ser_dictionary where code=#{code} and type=#{type}
        <if test="id!=null">
            and id != #{id}
        </if>
    </select>

    <!-- 查询子集 -->
    <select id="selectChildList" resultType="java.util.Map">
        select id, type, pid, code, name, remark, sort_no from ser_dictionary where pid=#{id} order by sort_no asc
    </select>

    <!-- 根据类别删除 -->
    <delete id="deleteByType">
        delete from ser_dictionary where type=#{type}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByTypes">
        delete from ser_dictionary where FIND_IN_SET(type,#{types})>0
    </delete>

    <!-- 查询字典 -->
    <select id="selectDicByPidAndType" resultType="java.util.Map">
        select id, type, pid, code, name, remark, sort_no from ser_dictionary where pid=#{pid} and type=#{type} order by
        sort_no asc
    </select>

    <!--根据类型字符串集合获取字典2.0-->
    <select id="selectDicByTypes" resultType="com.bp.sys.po.SerDictionary">
        select * from ser_dictionary where type in
        <foreach item="type" collection="array" open="(" separator="," close=")">
            #{type}
        </foreach>
        order by type asc, sort_no asc
    </select>

    <!-- 根据name 和 type 查询code -->
    <select id="selectCodeByNameAndType" parameterType="java.util.HashMap" resultType="java.lang.String">
        select code from ser_dictionary where type = #{type} and name = #{name} limit 0,1
    </select>

    <!-- 查询字典 -->
    <select id="selectDicByTypeTree" resultType="java.util.Map">
        select id, type, pid AS pId, code, name, remark, sort_no from ser_dictionary where type=#{type} order by sort_no
        ASC
    </select>

</mapper>

